<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/wordle.css" />
        <title>Wordle Solver</title>
    </head>
    <body>
        <h1>Wordle Solver</h1>
        <section class="container-fluid">
            <div class="row py-3">
                <div class="col-lg-4">
                    <form action method="post" id="wordle_solver" autocomplete="off">
                        <dl>
                            <dt>
                                <label for="dictionary">Choose a dictionary:</label>
                            </dt>
                            <dd>
                                <select name="dict_select" id="dict_select">
                                    <option value="">
                                        --Please choose an option--
                                    </option>
                                    <option value="en" <%= formParams.dict_select === "en" ? 'selected' : '' %>>English</option>
                                    <option value="es" <%= formParams.dict_select === "es" ? 'selected' : '' %>>Español</option>
                                </select>
                            </dd>
                        </dl>
                        <hr />
                        <dl>
                            <dt>Letters in CORRECT positions (ex: e5)</dt>
                            <dd>
                                <input
                                    type="text"
                                    name="correctPositions"
                                    id="correctpositions"
                                    size="25"
                                    value="<%= formParams.correctPositions %>"
                                    placeholder="Correct positions"
                                />
                            </dd>
                            <dt>Letters in WRONG positions (ex: t4 a3)</dt>
                            <dd>
                                <input
                                    type="text"
                                    name="wrongPositions"
                                    id="wrongpositions"
                                    size="25"
                                    value="<%= formParams.wrongPositions %>"
                                    placeholder="Wrong positions"
                                />
                            </dd>
                            <dt>Letters not found (ex: x d m)</dt>
                            <dd>
                                <input
                                    name="lettersNotFound"
                                    id="lettersnotfound"
                                    size="25"
                                    value="<%= formParams.lettersNotFound %>"
                                    placeholder="Letters not found"
                                />
                            </dd>
                        </dl>
                        <a class="btn btn-danger" href="/"
                        role="button">Reset</a>
                        <button
                            type="submit" class="btn btn-primary"
                            id="filter_words" value="Filter words"
                        >Filter words</button>
                    </form>
                </div>
                <div class="col-lg-8">
                    <p class="words">The filtered words are:</p>
                        <% words.forEach(word => { %> 
                            <%= word %> 
                        <% }) %> 
                    </p>
                    <br />
                </div>
            </div>
        </section>
        <footer class="footer mt-auto p-3 border-top">
            <div>
                <script id="_waudbr">var _wau = _wau || []; _wau.push(["small", "h35s32vxsa", "dbr"]);</script>
                <script async src="//waust.at/s.js"></script>
            </div>
            <div>
                <a href="https://livetrafficfeed.com/hit-counter" data-root="0" data-unique="0" data-style="6" data-min="7" data-start="1" id="LTF_hitcounter">Free Hit Counter</a>
                <script type="text/javascript" src="//cdn.livetrafficfeed.com/static/hitcounterjs/live.js"></script>
                <noscript><a href="https://livetrafficfeed.com/hit-counter">Free Hit Counter</a></noscript>
            </div>
        </footer>
            <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"
        ></script>
        <script src="/app.js"></script>
        <!-- Hitsteps TRACKING CODE - Manual 2022-03-11 - DO NOT CHANGE -->
        <script type="text/javascript">
        (function() {
            var hstc=document.createElement('script');
            hstc.src='https://log.hitsteps.net/track.php?code=de52185270bf7edc83b6869d0cf9c802';
            hstc.async=true;
            var htssc = document.getElementsByTagName('script')[0];
            htssc.parentNode.insertBefore(hstc, htssc);
        }) ();
        </script>
        <noscript>
            <a href="http://www.hitsteps.com/">
                <img src="//log.hitsteps.net/track.php?mode=img&amp;code=de52185270bf7edc83b6869d0cf9c802" alt="web stats" width="1" height="1" />web statistics
            </a>
        </noscript>
        <!-- Hitsteps TRACKING CODE - DO NOT CHANGE -->
    </body>    
</html>
